.slide_container {
    position: relative;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    touch-action: none;
    text-align: center;
    background-color: #eaebec;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
}

.slide::-webkit-scrollbar {
    display: none;
}

.slide_item {
    height: 100%;
    width: 100%;
    touch-action: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
    transition: all 500ms ease-out;
}

.fast_animation {
    transition: all 50ms linear;
}

.slide_item img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: none;
}

.button_container {
    position: absolute;
    top: 190px;
    left: calc(50% - 116px/2);
    width: 116px;
    height: 2px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.button {
    width: 16px;
    height: 2px;
    border-radius: 2px;
    background-color: #D9D9D9;
    cursor: pointer;
}

.selected_button {
    background-color: #E13B30;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 725px) {
    .button_container {
        top: 175px;
    }
}

@media screen and (max-width: 675px) {
    .button_container {
        top: 190px;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 427px) {
    .button_container {
        top: 160px;
    }
}

@media screen and (max-width: 355px) {
    .button_container {
        top: 190px;
    }
}

@media screen and (max-width: 205px) {
    .button_container {
        top: 160px;
    }
}