.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.title_container {
    position: relative;
    width: 100%;
    height: 144px;
    margin-bottom: 32px;
}

.title {
    position: absolute;
    top: 96px;
    left: 99px;
    height: 48px;
    display: flex;
    align-items: center;
}

.form_box {
    width: 924px;
    margin: 32px auto 100px;
}

/*---------------------------------------------------------------------------- upload box area ----------------------------------------------------------------------------*/
.upload_box {
    width: 100%;
    margin-bottom: 14px;
}

/*---------------------- drag area ----------------------*/
.drag_area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    border: 1px dashed #D9D9D9;
    border-radius: 24px;
    
    user-select: none;
    -webkit-user-select: none;
}

.upload_container {
    margin-top: 125px;
}

.upload_image {
    display: flex;
    justify-content: center;
}

.upload_image svg {
    width: 26px;
    height: 27px;
}

.upload_file {
    height: 16px;
    margin: 24px auto 16px;
}

.upload_file p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 0.4375em;
    line-height: 1.1429em;
    letter-spacing: 0.4px;
    color: #6C6C70;
}

.limit_box {
    height: 16px;
}

.limit_box p {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 0.375em;
    line-height: 1.33em;
    letter-spacing: 0.4px;
    color: #6C6C70;
}

.select {
    text-decoration: underline;
    color: #005FCC;
    cursor: pointer;
    transition: 0.4s;
}

.select:hover {
    opacity: 0.6;
}
/*---------------------- drag area ----------------------*/

/*---------------------- show image area ----------------------*/
.image_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 15px 0 5px;
    gap: 10.8px;
}

.image {
    min-width: 145px;
    height: 145px;
    position: relative;
}

.image span {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(241, 86, 35, 1);
    /* font-size: 0.625em; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.image span:hover {
    scale: 1.05;
}

.image span:active {
    scale: 0.95;
}

.delete {
    z-index: 999;
    color: #fff;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.drag_area input {
    display: none;
}
/*---------------------- show image area ----------------------*/

.info {
    margin-top: 8px;
}

.info h3 {
    font-weight: 300;
    color: #6C6C70;
    text-align: right;
}
/*---------------------------------------------------------------------------- upload box area ----------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------- input box area ----------------------------------------------------------------------------*/
.input_box {
    width: 100%;
    margin: 14px 0 24px;
}

.detail {
    display: flex;
    align-items: baseline;
    height: 24px;
    margin-bottom: 10px;
}

.detail h2 {
    font-weight: 400;
}

.input_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
}

.input_container input {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 24px;
    margin: 16px 24px;
    font-weight: 400;
    font-size: 0.5em;
    line-height: 1.5em;
}
/*---------------------------------------------------------------------------- input box area ----------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------- button box area ----------------------------------------------------------------------------*/
.btn_box {
    display: flex;
    align-items: center;
    gap: 26px;
    width: 100%;
    margin-top: 72px;
}

.btn_box > button:hover {
    scale: 1.01;
}

.btn_box > button:active {
    scale: 0.99;
}

.cancel_btn {
    display: flex;
    align-items: center;
    margin-left: 261px;
    padding: 16px 72px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
    cursor: pointer;
}

.cancel_btn p {
    width: 46px;
    height: 24px;
    font-family: 'Prompt', sans-serif;
    color: #E13B30;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
}

.confirm_btn {
    display: flex;
    align-items: center;
    padding: 16px 72px;
    background-color: #E04132;
    border-radius: 24px;
    cursor: pointer;
}

.confirm_btn p {
    width: 41px;
    height: 24px;
    font-family: 'Prompt', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
}
/*---------------------------------------------------------------------------- button box area ----------------------------------------------------------------------------*/

.error {
    margin-left: 10px;
}

.error p {
    color: red;
    font-size: 0.375em;
}

.valid {
    margin-left: 10px;
}

.valid p {
    color: green;
    font-size: 0.375em;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1440px) {
    .wrapper {
        width: 100%;
    }

    .title_container {
        width: 86.11%;
        margin: 0 auto 32px;
    }

    .title {
        left: -1px;
    }

    .form_box {
        width: 64.17%;
    }

    .image_container {
        grid-template-columns: repeat(5, 1fr);
    }

    .btn_box {
        justify-content: center;
    }

    .cancel_btn {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .image_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .title_container {
        height: 114px;
    }

    .title {
        top: 66px;
    }

    .error {
        margin-left: 7.5px;
    }

    .valid {
        margin-left: 7.5px;
    }
}

@media screen and (max-width: 955px) {
    .form_box {
        width: 76.11%;
    }
}

@media screen and (max-width: 805px) {
    .image_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
    .image_container {
        grid-template-columns: 1fr 1fr;
    }

    .title_container {
        height: 84px;
    }

    .title {
        top: 36px;
    }

    .error {
        margin-left: 5px;
    }

    .valid {
        margin-left: 5px;
    }
}

@media screen and (max-width: 535px) {
    .form_box {
        width: 86.11%;
    }

    .btn_box {
        flex-direction: column-reverse;
    }

    .confirm_btn,
    .cancel_btn {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    .image_container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 315px) {
    .error p {
        font-size: 0.3125em;
    }
    
    .valid p {
        font-size: 0.3125em;
    }
}